<div class="jumbotron container">

  <form [formGroup]="form" (ngSubmit)="checkout()" class="was-validated form-signin">
    <div class="row">
        <mat-toolbar *ngIf= "(check | async) || {}; let checks">Transaction ID: <strong class= "text-success">{{checks?.$key}}</strong></mat-toolbar>

      <div class="col-md-7">
          <br>
          <mat-divider></mat-divider>
          <br>
        <h6 *ngIf= "(check | async) || {}; let checks" >Please transfer        
          <strong *ngIf= "checks?.currency=='my-tw'">  RM</strong>
          <strong *ngIf= "checks?.currency=='tw-my'">  NTD</strong>
          <strong>{{checks?.payamount | number: '1.2-2'}} </strong>
          to the following bank account with Reference No : 
          <strong>{{checks?.$key}}</strong>
        </h6>
        <div  *ngIf= "(check | async) || {}; let checks" >
        <mat-card *ngIf= "checks?.currency=='my-tw'" style= "max-width: 200px;">
          <span class="flag-icon flag-icon-my flag-icon-squared"></span>
          <mat-card-content></mat-card-content>

        </mat-card>
        <mat-card *ngIf= "checks?.currency=='tw-my'" style= "max-width: 200px;">
            <span class="flag-icon flag-icon-tw flag-icon-squared"></span>
            <mat-card-content></mat-card-content>
          </mat-card>
        
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
          <label class="custom-control-label" for="customControlValidation1">Check here to indicate that you have read and agree to the </label>
          <div class="invalid-feedback"><a style= "text-decoration: underline" href="https://www.google.com" target = "_blank">Terms & Conditions Agreement</a></div>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
          <label class="custom-control-label" for="customControlValidation2">Yes, please use e-mail to send me information.</label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
          <label class="custom-control-label" for="customControlValidation3">Please do not send me information.</label>
          <div class="invalid-feedback">May we send you updates using e-mail?</div>
        </div>

        <div class="form-group">
          <select class="custom-select" required>
            <option value="">New Payment...</option>
            <option value="1">BANK ABC</option>
            <option value="2">BANK XYZ</option>
            <option value="3">BANK 666</option>
          </select>
          <div class="invalid-feedback">
            Select recipient bank from
            <span *ngIf= "check.currency=='tw-my'"><span class="flag-icon flag-icon-my flag-icon-squared"></span>  Malaysia</span>
            <span *ngIf= "check.currency=='my-tw'"><span class="flag-icon flag-icon-tw flag-icon-squared"></span>  Taiwan</span>  
          </div>
        </div>

        <mat-form-field class="input" [floatLabel]="always">
          <mat-label *ngIf="!account.touched || !account.invalid">Account</mat-label>
          <mat-label *ngIf="account.touched && account.invalid">
            <mat-label *ngIf="account.errors.required">this field is required</mat-label>
            <mat-label *ngIf="account.errors.cannotContainSpace"> can not contain space.</mat-label>
            <mat-label *ngIf="account.errors.minlength">Account No. should be minimum
              {{account.errors.minlength.requiredLength}}
              characters
            </mat-label>
          </mat-label>
          <input matInput formControlName="account" type="text" id="account" class="form-control" placeholder="Account No."
            required>
        </mat-form-field>


        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="upload($event)" accept=".png,.jpg"
            required>
          <!-- <progress max="100" [value]="(uploadProgress | async)"></progress> -->
          <label class="custom-file-label" for="validatedCustomFile">Upload your payment receipt</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
              [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
            <button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
            <button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
          </div>
          <br>
          <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
          </div>

          <br>
        </div>
      </div>

      <div class="col-md-5">
          <br>
          <mat-divider></mat-divider>
          <br>
        <ul class="list-group mb-3">

          <h3>Summary</h3>
          <mat-divider></mat-divider>
          <li class="list-group-item d-flex justify-content-between lh-condensed">

            <div>
              <h6 class="my-0">Order Details </h6>
              <small class="text-muted">Exchange Currency</small>
            </div>
            <span  *ngIf= "(check | async) || {}; let checks" class="text-muted">{{checks?.currency}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0 text-success">Sending Amount</h6>
              <small class="text-success">to be paid</small>
            </div>
            <strong  *ngIf= "(check | async) || {}; let checks" class="text-success">
                <span *ngIf= "checks?.currency=='my-tw'"><span class="flag-icon flag-icon-my flag-icon-squared"></span>  RM</span>
                <span *ngIf= "checks?.currency=='tw-my'"><span class="flag-icon flag-icon-tw flag-icon-squared"></span>  NTD</span>
              {{checks?.payamount | number: '1.2-2'}}</strong>
          </li>

          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-muted">
              <h6 class="my-0">Receiving Amount</h6>
              <small>to receive</small>
            </div>
            <span  *ngIf= "(check | async) || {}; let checks" class="text-muted">          
                <span *ngIf= "checks?.currency=='tw-my'"><span class="flag-icon flag-icon-my flag-icon-squared"></span>  RM</span>
                <span *ngIf= "checks?.currency=='my-tw'"><span class="flag-icon flag-icon-tw flag-icon-squared"></span>  NTD</span>
                {{checks?.quantity | number: '1.2-2'}}</span>
            
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span> exchange rates</span>
            <strong  *ngIf= "(check | async) || {}; let checks" >{{checks?.rate | number: '1.3-3'}}</strong>
          </li>
        </ul>

        <button mat-raised-button color="primary" type="submit">Confirm Payment & Check Out</button>

      </div>

    </div>
  </form>
  <button style = "float: right" mat-raised-button (click)="cancel()">Cancel</button>

</div>