
.form-signin {
    width: 100%;
    height: 400px;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    
  }
  
.login-title{
  font-family: cursive ;
}
 
.input {
  width: 100%;
}

button {
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.e-signin{
  font-family: fantasy;
  background: rgba(241, 107, 230, 0.4); 
  background-image: url('/assets/images/paper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fbg-signin{
  font-family: fantasy;
  background: rgb(144, 238, 144, 0.4); 
  background-image: url('/assets/images/fog.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.fbg{
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
  border-radius: 10px;

}

[mat-raised-button][mat-lg] {
  font-size: 15px;
  height: 50px;
  width: 150px;
  text-align: center;

}

#resetpassword{
  display: inline;
}