
    <div class= "loading"  *ngIf="isLoading">
        <mat-spinner class ="loader"> </mat-spinner>
    </div>
    <div style= "height: 500px" *ngIf="isLoading"></div>
    <div class="jumbotron" *ngIf="!isLoading">

    
    <br>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>You are now login as</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span> {{ (authService.user | async)?.email }}</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">verified_user</mat-icon>
        </mat-toolbar-row>
      
      </mat-toolbar>


    <nav mat-tab-nav-bar color="primary" backgroundColor="primary">
        <a mat-tab-link *ngFor="let link of links "
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]=" rla.isActive">
          {{link.label}}</a>
          <button mat-raised-button color="" routerLink="" >Proceed to exchange</button>       
      </nav>

      <router-outlet></router-outlet>
    <!-- <img src="{{photoURL}}" style =" width: 30%"class="rounded mx-auto d-block" alt="..."> -->


  </div>
