.loading {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    background : radial-gradient(circle, rgb(14, 1, 31,0.3), rgba(248, 244, 244, 0.2));

}


.loader {
    cursor: pointer;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    /* display: block; */
    /* position: absolute; */
    /* margin-top: -4.05em; */
    margin: auto;
    margin-top: 200px;

}

