
<div class="jumbotron container">

      <div class="row ">
          <div class="col-sm-6 text-justify">
            <h1 class="display-4 text-center " style="color:rgb(255, 255, 255)">TeePeng Exchanges </h1>
            <p class="lead text-center ">Money transfer at your fingertips. Simply Fast & Cost-saving!</p>
            <hr class="my-4">
            <p class ="text-center bg-info" >PengPay provides you better exchange rate on each transfer. 4 easy steps for you to save +80% on transaction fee.</p>
          </div>
          <div class="col-sm-6 card " style ="width: 40rem">
              <div class="card-body">
              <app-exchangeui></app-exchangeui>
            </div>
          </div>
         
        </div> 

   
  
</div>


